/*** reset ***/
body, th, td, input, select, textarea, button {
  font-family: Dotum, Malgun Gothic, 'Nanum Barun Gothic', sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: middle;
  color: #36393f;
  line-height: normal; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: normal; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

body {
  background: #fff;
  font-size: 12px; }

input, select, textarea {
  outline: none;
  vertical-align: middle; }

input[type="radio"] {
  margin: 0 3px 0 5px; }

/*** common ***/
.f_l {
  float: left !important; }

.f_r {
  float: right !important; }

.cl_b {
  clear: both;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0; }

.show {
  display: block; }

.hide {
  display: none; }

.clearfix {
  display: block; }

.clearfix:before,
.clearfix:after {
  display: block;
  content: '';
  clear: both; }

.align_left {
  text-align: left; }

.align_center {
  text-align: center; }

.align_right {
  text-align: right; }

.align_justify {
  text-align: justify; }

.layer_widget {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  width: 100%;
  height: 100%; }

.layer_widget .ly_dimmed {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #000;
  filter: alpha(opacity=50);
  opacity: .5; }

.layer_widget .con {
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -200px 0 0 -250px;
  width: 500px;
  height: 400px;
  background-color: #fff;
  border: solid 2px #000000;
  border-width: 3px; }

.layer_widget.rorWrite .con {
  height: 570px;
  margin-top: -285px; }
  .layer_widget.rorWrite .con .per {
    font-size: 48px;
    font-family: Malgun Gothic, Dotum, sans-serif;
    font-weight: 700;
    color: #d51324; }
    .layer_widget.rorWrite .con .per > span {
      font-size: 24px;
      color: #d51324; }

.container {
  position: relative;
  width: 100%; }

.container:before,
.container:after {
  display: block;
  content: '';
  clear: both; }

.container-center {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 1000px;
  min-width: 1000px; }

.container-center:before,
.container-center:after {
  display: block;
  content: '';
  clear: both; }

.popup {
  min-height: 840px; }
  .popup .head {
    background-color: #d51324;
    text-align: center; }
    .popup .head .title {
      padding: 20px;
      color: #fff;
      font-size: 32px; }
  .popup .body {
    margin: 0 auto;
    margin-bottom: 10px;
    min-width: 320px;
    max-width: 480px; }
    .popup .body .tit {
      margin-top: 30px;
      padding: 10px 0;
      text-align: center;
      font-size: 18px;
      font-family: Malgun Gothic, Dotum, 'Nanum Barun Gothic', sans-serif;
      font-weight: 400;
      border-bottom: solid 2px #000000; }
    .popup .body .payment {
      padding: 20px 0;
      border-bottom: solid 1px #e6e6e6; }
  .popup .foot {
    margin: 15px 0; }

span.new:after {
  margin-right: 6px;
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #f00;
  content: 'NEW';
  font-size: 11px;
  font-weight: bold;
  color: #f00;
  vertical-align: text-top; }

span.pay {
  width: 56px;
  margin-right: 6px;
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #f00;
  font-size: 11px;
  font-weight: bold;
  color: #f00;
  vertical-align: text-top;
  box-sizing: border-box;
  text-align: center; }

span.free {
  width: 56px;
  margin-right: 6px;
  display: inline-block;
  padding: 2px 5px;
  border: 1px solid #00f;
  font-size: 11px;
  font-weight: bold;
  color: #00f;
  vertical-align: text-top;
  box-sizing: border-box;
  text-align: center; }

.form-control {
  display: inline-block;
  padding: 0 10px;
  height: 32px;
  line-height: normal;
  border: solid 1px #e6e6e6;
  box-sizing: border-box; }

.form-control.block {
  display: block;
  width: 100%;
  height: 40px; }

textarea.form-control {
  padding: 15px 15px;
  box-sizing: border-box;
  height: auto !important;
  resize: none; }

.form-control[readonly] {
  background-color: #ececec; }

::-webkit-input-placeholder {
  color: #aaa; }

::-moz-placeholder {
  color: #aaa; }

::-ms-input-placeholder {
  color: #aaa; }

.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 10px; }

.input-group .form-control {
  float: left;
  width: 100%; }

.input-group .input-group-btn {
  word-break: keep-all;
  width: 1%;
  vertical-align: middle; }

.input-group .input-group-btn > .btn {
  vertical-align: middle;
  border: none;
  height: 40px;
  cursor: pointer; }

.input-group .form-control, .input-group .input-group-btn {
  display: table-cell; }

.chk {
  font-size: 14px; }

.chk > input[type="checkbox"],
.chk > input[type="radio"] {
  display: none; }

.chk > input[type="checkbox"]:checked ~ *,
.chk > input[type="radio"]:checked ~ * {
  color: #d51324;
  font-weight: bold; }

.form-default {
  display: table;
  margin-bottom: 20px;
  width: 100%; }
  .form-default > .row {
    display: table-row; }
    .form-default > .row > div {
      display: table-cell;
      padding: 10px 30px;
      border-bottom: solid 1px #e6e6e6; }
    .form-default > .row .col-h {
      width: 100px;
      font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif;
      font-size: 16px;
      /*border-right:solid $defaultLineColor;*/ }
    .form-default > .row .col-t {
      width: auto; }

.btn {
  display: inline-block;
  padding: 8px 20px;
  font-size: 13px;
  color: #fff;
  background-color: #000000;
  border: 0;
  outline: none;
  font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif; }

.btn + .btn {
  margin-left: 5px; }

.btn-circle {
  font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
  display: inline-block;
  width: 46px;
  height: 46px;
  background-color: #000000;
  border-radius: 50%;
  line-height: 46px;
  color: #fff;
  font-size: 12px;
  text-align: center; }

.btn-primary {
  background-color: #d51324 !important; }

.btn-muted {
  background-color: #999999 !important; }

.btn-darkGray {
  background-color: #262626 !important; }

.btn-lg {
  padding: 14px 24px;
  font-size: 14px; }

.btn-block {
  display: block;
  width: 100% !important;
  box-sizing: border-box; }

/*** sub_layout ***/
.inbox_sub {
  padding: 40px 0;
  background-color: #f6f6f9; }

.snb_wrap {
  position: relative;
  float: left;
  width: 185px;
  background-color: #fff;
  box-shadow: 10px 10px 20px #e6e6e6; }
  .snb_wrap > .title {
    display: table-cell;
    width: 185px;
    height: 96px;
    background-image: url(../../images/snb_bg.png); }
    .snb_wrap > .title > h2 {
      vertical-align: middle;
      font-size: 26px;
      color: #fff;
      text-align: center; }
  .snb_wrap .snb {
    position: relative; }
    .snb_wrap .snb > li {
      font-weight: 400;
      font-family: Malgun Gothic,  Dotum, sans-serif; }
      .snb_wrap .snb > li > a {
        display: block;
        padding: 20px;
        font-size: 16px;
        border-bottom: solid 1px #e6e6e6; }
        .snb_wrap .snb > li > a > .xi {
          vertical-align: baseline; }
      .snb_wrap .snb > li > ul {
        position: relative;
        border-bottom: solid 1px #e6e6e6;
        box-shadow: 0px 3px 10px #e6e6e6 inset;
        background-color: #fafafa; }
        .snb_wrap .snb > li > ul > li > a {
          display: block;
          padding: 10px 20px;
          font-size: 14px; }
        .snb_wrap .snb > li > ul > li.active > a {
          font-weight: 700;
          color: #d51324; }
    .snb_wrap .snb > li.active > a {
      font-weight: 700;
      color: #d51324; }

.content_wrap {
  float: right;
  width: 785px; }

.content-default {
  margin-bottom: 20px;
  background-color: #fff; }
  .content-default .head .info {
    padding: 10px 30px;
    border-bottom: dashed 1px #e6e6e6; }
    .content-default .head .info > span {
      display: inline-block;
      padding-right: 7px;
      margin-right: 5px;
      color: #999;
      font-size: 11px;
      border-right: solid 1px #e6e6e6; }
    .content-default .head .info > span:last-child {
      border-right: none; }
  .content-default .body {
    padding: 30px; }
    .content-default .body .text-area img {
      max-width: 100%;
      width: auto; }
  .content-default .body + .body {
    border-top: dashed 1px #e6e6e6; }
  .content-default .body.no-padding {
    padding: 0; }
  .content-default .body:before,
  .content-default .body:after {
    display: block;
    content: ' ';
    clear: both; }
  .content-default .foot {
    padding: 0 30px 30px; }

.title-default {
  position: relative;
  padding: 30px;
  font-size: 30px;
  font-weight: 700;
  border-bottom: solid 2px #000000;
  background-color: #fff; }
  .title-default > .breadCrumb {
    font-size: 12px;
    font-family: 'dotum', sens-serif;
    font-weight: 400; }
    .title-default > .breadCrumb > ul {
      position: absolute;
      top: 46px;
      right: 36px; }
      .title-default > .breadCrumb > ul > li {
        float: left;
        font-family: Malgun Gothic,  Dotum, sans-serif;
        color: #888;
        font-weight: bold; }
        .title-default > .breadCrumb > ul > li > a {
          margin-right: 6px;
          padding-right: 10px;
          color: #999;
          font-weight: normal;
          background-image: url(../../images/breadCrumb_arrow.png);
          background-repeat: no-repeat;
          background-position: right center;
          vertical-align: bottom; }

.title-sm {
  position: relative; }
  .title-sm > h3 {
    padding: 25px 30px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: solid 1px #e6e6e6;
    background-color: #fff; }
  .title-sm .ipt {
    position: absolute;
    right: 30px;
    top: 20px; }
    .title-sm .ipt > .ap_btn {
      display: inline-block;
      padding: 0 10px;
      height: 32px;
      line-height: 32px;
      font-size: 12px;
      color: #fff;
      vertical-align: top;
      background-color: #262626; }

.title-xs {
  position: relative; }
  .title-xs > h4 {
    padding: 10px 0;
    font-size: 16px;
    font-weight: 400;
    background-color: #fff; }
  .title-xs > .chk {
    position: absolute;
    right: 0;
    bottom: 10px;
    font-size: 12px; }

.title-info {
  position: relative; }
  .title-info > h3 {
    text-align: center;
    padding: 25px 30px;
    font-size: 14px;
    font-weight: 400;
    color: #ddd;
    background-color: #262626; }
    .title-info > h3 > span {
      color: #f4d421;
      font-weight: 700;
      font-size: 16px; }

/*** table ***/
.tbl thead th {
  padding: 10px;
  font-weight: 700;
  border-bottom: solid 2px #000000; }
.tbl tr th {
  font-size: 16px;
  font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif; }
.tbl tr td {
  padding: 0;
  border-bottom: solid 1px #e6e6e6; }
.tbl tr .idx {
  font-size: 12px;
  color: #999;
  font-family: Helvetica, Arial, "sans-serif"; }
.tbl tr .info > a {
  display: block;
  padding: 15px 0; }
.tbl tr .info .title {
  max-width: 420px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
  font-family: Malgun Gothic, Dotum, sans-serif;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }
.tbl tr .info .meta > p {
  display: inline-block;
  font-size: 11px;
  color: #888;
  vertical-align: top; }
  .tbl tr .info .meta > p > span {
    vertical-align: baseline;
    font-family: tahoma, "sans-serif";
    color: #d51324; }
.tbl tr .info .meta > p.bar {
  margin-left: 3px;
  color: #ddd; }
.tbl tr .name {
  text-align: right;
  font-size: 14px;
  font-family: Malgun Gothic, Dotum, sans-serif; }
.tbl tr .def {
  padding: 15px 0;
  font-size: 14px;
  font-family: Malgun Gothic, Dotum, sans-serif; }
.tbl tr .def:first-child {
  font-weight: bold; }
.tbl tr .vod_view {
  text-align: right; }
.tbl tr .date {
  padding: 15px 0;
  text-align: center; }
.tbl tr .service {
  padding: 15px;
  text-align: left; }
.tbl tr .period {
  padding: 15px 0;
  text-align: center; }
.tbl tr .remnant {
  padding: 15px 0;
  text-align: center; }
.tbl tr .state {
  padding: 15px 0;
  text-align: center;
  color: #999999; }
.tbl tr .state.a {
  color: #d51324;
  font-weight: bold; }
.tbl tr .state.b {
  color: #43aee5;
  font-weight: bold; }
.tbl tr .sms_text {
  padding: 15px 0; }
.tbl tr .count_reply {
  margin-left: 5px;
  color: #f00;
  font-size: 12px; }
.tbl tr .def-sms {
  padding: 10px 0;
  font-size: 12px; }
.tbl tr .count {
  text-align: center;
  font-size: 14px;
  color: #999;
  font-weight: bold; }
.tbl tr th.def-sms {
  text-align: left;
  background-color: #262626;
  border-bottom-color: #0c0c0c; }
  .tbl tr th.def-sms label {
    color: #fff; }
.tbl tr td.def-sms {
  text-align: center; }
.tbl tbody th {
  border-bottom: solid 1px #e6e6e6; }
.tbl tbody .pay {
  padding-right: 20px; }
.tbl tbody .price {
  display: block;
  color: #999999;
  text-decoration: line-through;
  word-spacing: -1px; }
.tbl tbody .der_price {
  display: block;
  color: #262626;
  word-spacing: -1px;
  font-size: 24px;
  font-weight: bold; }
.tbl tbody .sale {
  display: block;
  color: #f00;
  font-size: 28px;
  font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif;
  word-spacing: -2px;
  font-weight: 700; }
.tbl tbody .sale:before {
  vertical-align: middle;
  margin-right: 10px;
  padding: 3px 10px;
  display: inline-block;
  content: 'SALE';
  background-color: #f00;
  color: #fff;
  font-size: 11px;
  -webkit-animation-duration: 2.4s;
  animation-duration: 2.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  animation-name: flash; }
.tbl tbody .pro {
  font-size: 13px;
  font-weight: 400 !important;
  color: #999999;
  line-height: 24px; }

.tbl_pay td, .tbl_pay th {
  border-bottom: solid 1px #e6e6e6;
  padding: 15px; }
.tbl_pay .pay {
  text-align: right;
  font-size: 30px;
  font-weight: 700;
  font-family: Arial, "sans-serif";
  color: #d51324; }

/* ror */
.rortbl {
  margin: 15px 0; }
  .rortbl th {
    padding-top: 10px;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    color: #999999;
    border-top: dashed 1px #e6e6e6;
    background-color: #f9f9f9; }
  .rortbl td {
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #262626;
    font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif;
    border-bottom: dashed 1px #e6e6e6;
    background-color: #f9f9f9; }

.rorList .rorContainer:before,
.rorList .rorContainer:after {
  display: block;
  content: '';
  clear: both; }
.rorList .rorContainer {
  margin-right: -10px;
  margin-left: -10px; }
  .rorList .rorContainer .item {
    float: left;
    width: 228px;
    padding: 0 10px; }
    .rorList .rorContainer .item .item_inner {
      border: solid 1px #e6e6e6;
      border-top: solid #d51324;
      border-top-width: 5px;
      margin-bottom: 20px; }
      .rorList .rorContainer .item .item_inner .h {
        text-align: center; }
        .rorList .rorContainer .item .item_inner .h .per {
          font-size: 48px;
          font-family: Malgun Gothic, Dotum, sans-serif;
          font-weight: 700;
          color: #d51324; }
          .rorList .rorContainer .item .item_inner .h .per > span {
            font-size: 24px;
            color: #d51324; }
        .rorList .rorContainer .item .item_inner .h .stock {
          font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif;
          font-size: 18px;
          font-weight: 700; }
        .rorList .rorContainer .item .item_inner .h .anal {
          font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif;
          font-size: 14px; }
      .rorList .rorContainer .item .item_inner .b .bottom {
        padding: 0 15px 10px; }
        .rorList .rorContainer .item .item_inner .b .bottom .text {
          margin: 0;
          color: #999;
          height: 56px;
          overflow: hidden;
          line-height: 18px; }
        .rorList .rorContainer .item .item_inner .b .bottom .info {
          text-align: Left;
          margin-top: 10px;
          font-size: 12px;
          color: #aaa; }
      .rorList .rorContainer .item .item_inner .f .btn {
        background-color: #fff !important;
        color: #000;
        border-top: solid 1px #e6e6e6; }

.item_inner ~ .del {
  margin-top: -10px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center; }

.item_inner ~ .del > a {
  color: #d51324 !important;
  text-decoration: underline; }

.rorRead .rorRead_inner {
  border: solid 1px #e6e6e6;
  border-top: solid #d51324;
  border-top-width: 5px;
  margin-bottom: 20px; }
  .rorRead .rorRead_inner .h {
    text-align: center; }
    .rorRead .rorRead_inner .h .per {
      font-size: 48px;
      font-family: Malgun Gothic, Dotum, sans-serif;
      font-weight: 700;
      color: #d51324; }
      .rorRead .rorRead_inner .h .per > span {
        font-size: 24px;
        color: #d51324; }
    .rorRead .rorRead_inner .h .stock {
      font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif;
      font-size: 18px;
      font-weight: 700; }
    .rorRead .rorRead_inner .h .anal {
      font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif;
      font-size: 14px; }
  .rorRead .rorRead_inner .b .bottom {
    padding: 0 15px 10px; }
    .rorRead .rorRead_inner .b .bottom .text {
      margin: 0;
      color: #999;
      height: 146px;
      overflow: hidden;
      line-height: 18px; }
    .rorRead .rorRead_inner .b .bottom .info {
      text-align: Left;
      margin-top: 10px;
      font-size: 12px;
      color: #aaa; }
  .rorRead .rorRead_inner .f .btn {
    background-color: #fff !important;
    color: #000;
    border-top: solid 1px #e6e6e6; }

/** paging **/
.page {
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center; }

.page:before,
.page:after {
  display: table;
  content: ' ';
  clear: both; }

.page .pagination {
  display: inline-block; }

.page ul li {
  float: left;
  margin-right: 10px; }

.page ul li a {
  display: inline-block;
  width: 26px;
  height: 26px;
  line-height: 26px;
  color: #aaa;
  font-size: 13px; }

.page ul li a:hover {
  background-color: #ECECEC;
  color: #000; }

.page ul li.prev {
  background-color: #ffffff;
  border: 1px solid #e9e9e9; }

.page ul li.next {
  background-color: #ffffff;
  border: 1px solid #e9e9e9; }

.page ul li.active a {
  background-color: #36393f;
  color: #ffffff; }

/** tab **/
.tab-wrap {
  display: table;
  width: 100%;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif; }
  .tab-wrap > a {
    position: relative;
    display: table-cell;
    padding: 15px 0;
    text-align: center;
    border-bottom: solid 1px #e6e6e6;
    border-bottom-width: 2px; }
  .tab-wrap .active {
    border-style: solid;
    border-color: #f00;
    color: #f00;
    border-bottom-width: 3px;
    font-weight: 700; }
  .tab-wrap > a:after {
    position: absolute;
    content: '';
    right: 0;
    top: 17px;
    bottom: 17px;
    border-right: solid 1px #e6e6e6; }
  .tab-wrap > a.last:after {
    border: none; }

/** paging_nav**/
.paging_nav {
  margin-bottom: 30px;
  border-bottom: dashed 1px #e6e6e6; }
  .paging_nav > a {
    display: block;
    padding: 15px 10px;
    border-top: dashed 1px #e6e6e6; }
  .paging_nav > a:hover {
    font-weight: bold;
    color: #d51324;
    background-color: #fafafa; }

/** reply **/
.reply_text {
  position: relative;
  display: table;
  border-collapse: separate;
  margin-bottom: 20px; }
  .reply_text .form-control {
    float: left;
    width: 100%;
    height: 90px !important;
    box-sizing: border-box; }
  .reply_text .add-on {
    word-break: keep-all;
    width: 1%;
    vertical-align: middle; }
    .reply_text .add-on > .btn {
      display: table-cell;
      padding: 0 40px;
      vertical-align: middle;
      border: none;
      height: 90px;
      cursor: pointer;
      box-sizing: border-box;
      font-size: 18px;
      font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif; }
  .reply_text .form-control,
  .reply_text .add-on {
    display: table-cell; }

.reply_list .item {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 10px;
  background-color: #fafafa; }
  .reply_list .item .top {
    margin-bottom: 10px; }
    .reply_list .item .top .name {
      font-family: Malgun Gothic, Dotum, sans-serif;
      font-size: 15px; }
    .reply_list .item .top .date {
      font-size: 11px;
      font-family: Helvetica, Arial, "sans-serif";
      color: #999; }
    .reply_list .item .top .option .delete {
      display: inline-block;
      padding: 2px 4px;
      background-color: #d51324;
      font-size: 10px;
      color: #fff;
      border-radius: 3px; }
      .reply_list .item .top .option .delete > i {
        color: #fff; }
  .reply_list .item .bottom {
    color: #999;
    line-height: 19px; }

/*** haed ***/
#header .gnb_wrap {
  min-width: 1000px;
  height: 46px;
  background-color: #f2f2f2;
  box-sizing: border-box; }
  #header .gnb_wrap .account {
    display: table-cell;
    height: 46px;
    vertical-align: middle; }
    #header .gnb_wrap .account .join {
      display: inline-block;
      padding: 6px 8px;
      border-radius: 3px;
      line-height: normal;
      color: #fff;
      background-color: #000000; }
    #header .gnb_wrap .account .join:hover {
      background-color: #333; }
    #header .gnb_wrap .account .find {
      display: inline-block;
      padding: 6px 8px;
      border-radius: 3px;
      line-height: normal;
      color: #fff;
      background-color: #999999; }
    #header .gnb_wrap .account .find:hover {
      background-color: #aaa; }
  #header .gnb_wrap .outLogin .button {
    margin-left: 10px;
    display: inline-block;
    height: 46px;
    background-color: #d51324;
    color: #fff;
    border: 0;
    box-sizing: border-box; }
  #header .gnb_wrap .outLogin_after {
    padding-top: 16px; }
    #header .gnb_wrap .outLogin_after .name {
      margin-top: -5px;
      display: inline-block; }
    #header .gnb_wrap .outLogin_after > a {
      display: inline-block;
      margin-left: 10px;
      padding-left: 10px;
      height: 10px;
      border-left: 1px solid #d9d9d9;
      vertical-align: top;
      line-height: 10px; }
#header .logo {
  margin: 16px 0 24px; }
#header .banner_l {
  position: absolute;
  top: 10px;
  left: 0;
  width: 200px; }
#header .banner_r {
  position: absolute;
  top: 0;
  right: 0; }
#header .lnb_wrap {
  min-width: 1000px;
  border-top: solid 1px #e6e6e6;
  border-bottom: solid 1px #e6e6e6;
  background-image: url(../../images/lnb_bg.png);
  background-position: center center;
  background-repeat: repeat-y; }
  #header .lnb_wrap .lnb {
    float: left; }
    #header .lnb_wrap .lnb > li {
      position: relative;
      float: left; }
      #header .lnb_wrap .lnb > li > a {
        padding: 14px 30px;
        display: block;
        font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
        font-size: 18px; }
      #header .lnb_wrap .lnb > li > ul {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        top: 60px;
        z-index: 991; }
        #header .lnb_wrap .lnb > li > ul > li > a {
          display: inline-block;
          padding: 5px 0;
          text-align: center;
          width: 100%;
          color: #fff;
          font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
          font-size: 14px; }
        #header .lnb_wrap .lnb > li > ul > li.new > a:after {
          display: inline-block;
          margin-left: 5px;
          padding: 1px 4px;
          content: 'NEW';
          font-size: 11px;
          color: #fff;
          line-height: normal;
          background-color: #d51324; }
        #header .lnb_wrap .lnb > li > ul > li.hot > a:after {
          display: inline-block;
          margin-left: 5px;
          padding: 1px 4px;
          content: 'HOT';
          font-size: 11px;
          color: #36393f;
          line-height: normal;
          background-color: #f4d421; }
  #header .lnb_wrap .lnb:before,
  #header .lnb_wrap .lnb:after {
    display: block;
    content: '';
    clear: both; }
  #header .lnb_wrap .lnb_menu {
    float: right; }
    #header .lnb_wrap .lnb_menu .schedule {
      float: left; }
      #header .lnb_wrap .lnb_menu .schedule > a {
        display: table-cell;
        padding: 0 18px;
        height: 52px;
        font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
        font-size: 14px;
        color: #fff;
        vertical-align: middle;
        background-color: #d51324; }
    #header .lnb_wrap .lnb_menu .sitemap {
      float: right; }
      #header .lnb_wrap .lnb_menu .sitemap > a {
        display: table-cell;
        padding: 0 18px;
        height: 52px;
        font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
        font-size: 18px;
        color: #fff;
        vertical-align: middle;
        background-color: #404040; }
  #header .lnb_wrap .lnb_2depth {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 990;
    display: none;
    background-color: #404040; }
    #header .lnb_wrap .lnb_2depth .info {
      float: right;
      padding: 20px 5px 0;
      width: 256px;
      box-sizing: border-box; }
      #header .lnb_wrap .lnb_2depth .info .item {
        margin-bottom: 15px;
        box-sizing: border-box; }
        #header .lnb_wrap .lnb_2depth .info .item .title {
          margin-bottom: 5px; }
          #header .lnb_wrap .lnb_2depth .info .item .title > h3 {
            margin-right: 5px;
            display: inline-block;
            font-size: 18px;
            color: #f4d421; }
          #header .lnb_wrap .lnb_2depth .info .item .title > span {
            color: #999999; }
        #header .lnb_wrap .lnb_2depth .info .item .text {
          position: relative;
          padding: 10px 0;
          font-size: 30px;
          font-family: arial, 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum,  sans-serif;
          font-weight: bold;
          letter-spacing: -1px;
          text-align: center;
          background-color: #f4d421; }
    #header .lnb_wrap .lnb_2depth .ad_lnbMenu {
      background-image: url(../../images/lnb_ad_bg.png); }
      #header .lnb_wrap .lnb_2depth .ad_lnbMenu .container {
        position: relative; }
      #header .lnb_wrap .lnb_2depth .ad_lnbMenu .no-more {
        position: absolute;
        right: 10px;
        bottom: 10px; }
        #header .lnb_wrap .lnb_2depth .ad_lnbMenu .no-more label {
          color: #fff;
          vertical-align: middle; }
        #header .lnb_wrap .lnb_2depth .ad_lnbMenu .no-more input {
          vertical-align: middle; }
        #header .lnb_wrap .lnb_2depth .ad_lnbMenu .no-more button {
          display: inline-block;
          padding: 2px 6px;
          font-size: 12px;
          border: solid 1px #313131;
          background: #ffffff;
          /* Old browsers */
          background: -moz-linear-gradient(top, #ffffff 0%, #bfbfbf 100%);
          /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #ffffff 0%, #bfbfbf 100%);
          /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #ffffff 0%, #bfbfbf 100%);
          /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#bfbfbf',GradientType=0 );
          /* IE6-9 */ }

#main_visual > .container-center {
  width: 1430px;
  padding: 20px 0; }

.best-profit {
  position: relative;
  min-width: 1000px;
  width: 100%;
  height: 100%;
  overflow: visible;
  border-top: 1px solid #d51324;
  border-bottom: 1px solid #d51324; }
  .best-profit .swiper-container {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    border-right: solid 1px #e6e6e6; }
    .best-profit .swiper-container .item {
      padding: 10px 0;
      width: 164px;
      height: 98px;
      border-left: solid 1px #e6e6e6;
      text-align: center;
      font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
      box-sizing: border-box;
      cursor: pointer; }
      .best-profit .swiper-container .item .tit {
        font-size: 16px;
        font-weight: 800; }
      .best-profit .swiper-container .item .per {
        font-family: "Myriad Pro", 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
        font-size: 32px;
        font-weight: 800;
        letter-spacing: -1px;
        color: #d51324; }
      .best-profit .swiper-container .item .stock {
        font-size: 14px;
        color: #404040; }
    .best-profit .swiper-container .item:hover {
      background-color: #d51324;
      color: #fff !important; }
    .best-profit .swiper-container .item:hover > * {
      color: #fff !important; }

.best-profit:before,
.best-profit:after {
  display: block;
  content: '';
  clear: both; }

/*** foot ***/
.footer .foot_cscenter {
  margin-top: 15px; }
  .footer .foot_cscenter .top {
    margin: 18px 0;
    height: 85px; }
    .footer .foot_cscenter .top .quick_menu > a {
      display: block;
      float: left;
      width: 155px;
      height: 85px;
      text-align: center;
      background: url(../../images/foot-dot.png) no-repeat right center; }
      .footer .foot_cscenter .top .quick_menu > a > img {
        display: block;
        margin: 0 auto; }
      .footer .foot_cscenter .top .quick_menu > a > span {
        font-size: 16px;
        color: #666666;
        font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif; }
    .footer .foot_cscenter .top .quick_menu .remote > span {
      display: block;
      margin: 12px 0; }
    .footer .foot_cscenter .top .quick_info .info1 {
      float: left;
      padding: 0 0 0 28px; }
    .footer .foot_cscenter .top .quick_info .info2 {
      float: left;
      padding: 0 0 0 20px; }
    .footer .foot_cscenter .top .quick_info .info3 {
      float: left;
      padding: 0 0 0 20px; }
    .footer .foot_cscenter .top .quick_info .tit {
      margin-top: 5px;
      margin-bottom: 6px;
      font-weight: 400;
      font-size: 16px;
      color: #666666;
      font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic, Dotum, sans-serif; }
    .footer .foot_cscenter .top .quick_info .bank_num {
      font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
      font-size: 18px;
      color: #2e4ba2; }
    .footer .foot_cscenter .top .quick_info .num {
      font-family: "Helvetica Neue", Helvetica, Arial, "sans-serif";
      font-size: 18px;
      color: #4c4c4c; }
    .footer .foot_cscenter .top .quick_info .txt {
      line-height: 17px; }
  .footer .foot_cscenter .bottom {
    margin: 10px 0 20px;
    height: 125px;
    border-top: solid 1px #e6e6e6;
    border-bottom: solid 1px #e6e6e6; }
    .footer .foot_cscenter .bottom .experience {
      float: left; }
    .footer .foot_cscenter .bottom .join {
      float: left; }
      .footer .foot_cscenter .bottom .join .txt {
        float: left; }
      .footer .foot_cscenter .bottom .join .quick_btn {
        float: left; }
        .footer .foot_cscenter .bottom .join .quick_btn > a {
          float: left;
          display: block;
          padding: 16px 18px;
          height: 125px;
          text-align: center;
          box-sizing: border-box; }
          .footer .foot_cscenter .bottom .join .quick_btn > a > span {
            font-size: 16px;
            line-height: 26px;
            color: #666666;
            font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum,  sans-serif; }
.footer .footinfo {
  padding: 0 0 15px 0;
  background-color: #404040;
  font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif; }
  .footer .footinfo .footmenu {
    height: 50px;
    padding: 0 0 10px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px solid #373737;
    box-sizing: border-box; }
    .footer .footinfo .footmenu > ul > li {
      float: left; }
      .footer .footinfo .footmenu > ul > li > a {
        display: block;
        padding: 15px 15px;
        color: #cccccc;
        font-size: 15px;
        background-image: url(../../images/foot-menu.png);
        background-repeat: no-repeat;
        background-position: right center; }
    .footer .footinfo .footmenu > ul > li:first-child > a {
      padding-left: 0; }
  .footer .footinfo .sitewarning {
    margin-bottom: 10px;
    font-size: 15px;
    color: #808080; }
  .footer .footinfo .siteinfo {
    width: 700px;
    word-break: keep-all;
    font-size: 13px;
    color: #b0b4bb;
    font-style: normal; }
.footer .copy {
  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
  font-size: 12px;
  background-color: #333333;
  border-top: 1px solid #262626; }
  .footer .copy > div {
    color: #b0b4bb !important;
    line-height: 52px;
    height: 52px; }
  .footer .copy .go_top {
    position: absolute;
    right: 0; }

/*** main ***/
/** best-anal **/
#best_anal {
  padding: 30px 10px 0;
  background-color: #fafafa; }
  #best_anal .list {
    position: relative; }
    #best_anal .list .item {
      position: relative;
      float: left;
      margin: 30px 10px 0;
      width: 227px;
      height: 400px; }
      #best_anal .list .item .field {
        position: absolute;
        left: 21px;
        right: 0;
        z-index: 11; }
        #best_anal .list .item .field .tit {
          position: absolute;
          padding: 10px 0;
          top: 0;
          left: 65px;
          right: 0;
          border-top: solid 1px #e6e6e6;
          border-bottom: solid 1px #e6e6e6;
          text-align: center; }
          #best_anal .list .item .field .tit h5 {
            font-size: 12px;
            color: #bfbfbf; }
          #best_anal .list .item .field .tit h4 {
            font-size: 18px;
            color: #666;
            font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
            font-weight: 400; }
      #best_anal .list .item .img {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10; }
      #best_anal .list .item .btn-group {
        position: absolute;
        left: 0;
        right: 75px;
        bottom: 10px;
        text-align: right;
        z-index: 12; }
  #best_anal .list:before,
  #best_anal .list:after {
    display: block;
    content: '';
    clear: both; }

/** manage_latest **/
#manage_latest {
  margin: 32px 0; }
  #manage_latest .lay_left {
    float: left;
    width: 690px; }
  #manage_latest .lay_right {
    float: right;
    width: 280px; }

.best_thanks .best_thanks_tit {
  float: left; }
.best_thanks #best_thanks_slide {
  float: right;
  width: 467px;
  height: 160px;
  overflow: hidden; }
  .best_thanks #best_thanks_slide > .swiper-container {
    height: 126px;
    border-bottom: 1px solid #e0e0e0; }
    .best_thanks #best_thanks_slide > .swiper-container > .swiper-pagination {
      position: absolute;
      width: 100% !important;
      left: 0 !important;
      right: 0 !important;
      bottom: -25px;
      top: auto; }
      .best_thanks #best_thanks_slide > .swiper-container > .swiper-pagination > .swiper-pagination-bullet {
        width: 11px;
        height: 11px;
        border-radius: 50%; }
    .best_thanks #best_thanks_slide > .swiper-container > .swiper-button-prev {
      margin-top: -3px;
      top: auto;
      bottom: -24px;
      left: 195px;
      width: 6px;
      height: 11px;
      background-image: url(../../images/slide_arrow_left_sm.png);
      background-size: auto auto;
      background-position: center center; }
    .best_thanks #best_thanks_slide > .swiper-container > .swiper-button-next {
      margin-top: -3px;
      top: auto;
      bottom: -24px;
      right: 195px;
      width: 6px;
      height: 11px;
      background-image: url(../../images/slide_arrow_right_sm.png);
      background-size: auto auto;
      background-position: center center; }
  .best_thanks #best_thanks_slide .thanks_con .f_l {
    width: 295px; }
  .best_thanks #best_thanks_slide .thanks_con .f_r {
    width: 170px;
    text-align: center; }
    .best_thanks #best_thanks_slide .thanks_con .f_r .medal {
      position: absolute;
      bottom: 5px;
      right: 20px; }
  .best_thanks #best_thanks_slide .thanks_con .tit {
    margin-bottom: 3px;
    font-size: 18px; }
  .best_thanks #best_thanks_slide .thanks_con .name {
    margin-bottom: 15px;
    color: #a6a6a6; }
  .best_thanks #best_thanks_slide .thanks_con .txt {
    margin-bottom: 5px;
    color: #999999; }

/** livelist **/
#live_list {
  margin-bottom: 12px; }
  #live_list .list {
    margin: 0 -6.5px; }
    #live_list .list .item {
      position: relative;
      float: left;
      margin-bottom: 18px;
      padding: 0 6.5px;
      width: 240px; }
      #live_list .list .item .text {
        position: absolute;
        top: 20px;
        left: 10px; }
        #live_list .list .item .text .name {
          margin: 10px 0 8px;
          font-size: 18px;
          font-weight: 400; }
        #live_list .list .item .text .txt {
          color: #999999;
          width: 120px;
          height: 45px;
          word-break: keep-all; }
        #live_list .list .item .text .info {
          font-weight: bold;
          color: #999999; }
          #live_list .list .item .text .info > .circle {
            display: inline-block;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #999999; }
        #live_list .list .item .text .info.red {
          color: #d51324; }
          #live_list .list .item .text .info.red > .circle {
            background-color: #d51324; }
        #live_list .list .item .text .info.blue {
          color: #43aee5; }
          #live_list .list .item .text .info.blue > .circle {
            background-color: #43aee5; }
      #live_list .list .item .img {
        border-bottom: solid 1px #e6e6e6; }
      #live_list .list .item .bottom a {
        float: left;
        padding: 6px 0;
        display: block;
        width: 50%;
        color: #000;
        text-align: center;
        box-sizing: border-box;
        border-bottom: 1px solid #e0e0e0; }
      #live_list .list .item .bottom a:hover {
        background-color: #f0f0f0; }

#live_list.sub {
  padding: 19px; }

#live_list.sub:before,
#live_list.sub:after {
  display: block;
  content: ' ';
  clear: both; }

/*** latest ***/
.latest-default + .latest-default {
  margin-top: 18px; }

.latest-default > .head {
  margin: 0 0 15px 0;
  padding: 8px 0px;
  border-bottom: solid 2px #000000; }

.latest-default > .head > .tit {
  position: relative;
  padding-right: 15px;
  font-size: 18px;
  font-weight: normal;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.latest-default > .head > .tit > .more {
  position: absolute;
  right: -15px;
  top: -15px;
  display: block;
  margin: 0;
  padding: 15px;
  font-size: 12px;
  color: #999;
  font-family: 'dotum', sans-serif;
  letter-spacing: -1px; }

.latest-default > .con {
  background-color: #fff; }

.latest-default > .con > .item {
  padding: 0; }

.latest-default > .con > .item > a {
  position: relative;
  display: block;
  padding: 4px 10px 4px 18px;
  background-image: url(../../images/blt_latest_list.png);
  background-repeat: no-repeat;
  background-position: 5px center; }

.latest-default > .con > .item .tit {
  margin: 0 auto;
  color: #666;
  font-family: 'dotum', sans-serif;
  font-size: 12px;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

/*** account ***/
.login_form {
  margin: 0 auto;
  width: 300px; }
  .login_form > .form-control {
    margin-bottom: 15px; }
  .login_form .id_save {
    display: block;
    margin-top: -10px;
    margin-bottom: 20px; }
  .login_form .info {
    margin-top: 20px;
    padding-top: 20px;
    border-top: dashed 1px #e6e6e6;
    text-align: center; }

.login_form:before,
.login_form:after {
  display: block;
  content: ' ';
  clear: both; }

.find_wrap {
  width: 50%;
  background: #fff;
  border-right: dashed 1px #e6e6e6;
  box-sizing: border-box; }

.find_wrap:last-child {
  border: none; }

.no-data {
  text-align: center;
  font-size: 16px;
  color: #999; }

/*** profile ***/
.profile {
  position: relative;
  height: 450px; }
  .profile .profile-img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300; }
  .profile .text {
    position: absolute;
    top: 40px;
    left: 40px;
    font-family: 'NanumSquare', 'Nanum Barun Gothic', Malgun Gothic,  Dotum, sans-serif;
    z-index: 310; }
    .profile .text .tit {
      margin-bottom: 50px;
      width: 230px;
      height: 180px;
      font-size: 48px;
      color: #404040;
      font-weight: 800;
      word-break: keep-all;
      line-height: 60px;
      word-spacing: -2px;
      overflow: hidden; }
    .profile .text .anal {
      font-size: 24px;
      color: #404040; }
      .profile .text .anal .name {
        display: block;
        padding-left: 50px;
        font-weight: 700;
        background-image: url(../../images/profile-line.png);
        background-repeat: no-repeat;
        background-position: left center; }
  .profile .float {
    position: absolute;
    top: 40px;
    right: 30px;
    z-index: 310;
    width: 177px;
    height: 225px;
    background-image: url(../../images/profile-floating.png);
    background-position: center center;
    background-repeat: no-repeat; }
    .profile .float > .inner {
      padding: 16px; }
    .profile .float .onair {
      display: block;
      margin: 0 auto;
      margin-top: 22px;
      width: 50px;
      padding: 3px 5px;
      background-color: #999999;
      color: #fff;
      text-align: center;
      box-sizing: border-box;
      border-radius: 10px; }
    .profile .float .onair.on {
      background-color: #f03141;
      animation: onairColor 1s;
      animation-iteration-count: infinite; }
    .profile .float .when {
      display: block;
      margin-top: 10px;
      color: #d51324;
      font-weight: bold;
      font-size: 12px;
      word-spacing: -1px;
      text-align: center; }
    .profile .float .t {
      margin: 12px 0;
      font-size: 12px;
      border-bottom: dotted 1px #e6e6e6;
      text-align: center; }
    .profile .float .txt {
      height: 38px;
      font-weight: bold;
      font-size: 14px;
      color: #333333;
      overflow: hidden;
      line-height: 20px;
      text-align: center; }

.profile:before,
.profile:after {
  display: block;
  content: '';
  clear: both; }

/* Chrome, Safari */
@-webkit-keyframes onairColor {
  0% {
    background: #f03141; }
  49% {
    background: #f03141; }
  50% {
    background: #9C1D28; }
  100% {
    background: #9C1D28; } }
/* Firefox */
@-moz-keyframes onairColor {
  0% {
    background: #f03141; }
  49% {
    background: #f03141; }
  50% {
    background: #9C1D28; }
  100% {
    background: #9C1D28; } }
/* Standard syntax */
@keyframes onairColor {
  0% {
    background: #f03141; }
  49% {
    background: #f03141; }
  50% {
    background: #9C1D28; }
  100% {
    background: #9C1D28; } }
/*** anal-sms ***/
.sms {
  float: left;
  display: inline-block;
  padding: 20px;
  border: solid 1px #e6e6e6;
  box-sizing: border-box; }
  .sms .tit {
    margin-bottom: 10px; }
  .sms .text_byte {
    margin: 5px 0 10px 0; }
  .sms .btn-wrap {
    margin-top: 20px; }

.sms_option {
  float: right;
  padding: 20px;
  width: 494px;
  border: solid 1px #e6e6e6;
  box-sizing: border-box; }
  .sms_option .tit {
    font-size: 18px;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: dashed 1px #e6e6e6; }
  .sms_option .assign {
    margin-bottom: 30px; }
  .sms_option .info {
    margin-top: 15px;
    margin-bottom: 30px; }

.total_sms {
  margin-top: 30px;
  border-bottom: 3px double #999; }

.total_sms {
  margin-right: -5px;
  margin-left: -5px; }

.total_sms:after {
  display: block;
  content: '';
  clear: both; }

.total_sms .item {
  width: 199px;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 10px;
  float: left;
  border: 1px solid #ccc;
  padding: 5px 10px;
  background-color: #f9f9f9;
  border-radius: 10px; }

.total_sms .item .tit {
  font-size: 12px; }

.total_sms .item .number {
  color: #666; }

.total_sms .item .text-byte {
  color: #999; }

.total_sms .item > textarea {
  resize: none; }
